{% load static %}
<!DOCTYPE html>

<html class="no-js">
<!--<![endif]-->



<head>
	<title>Aqua World Water Technologies
</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	
	

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animations.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome5.css' %}">
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
	<link rel="stylesheet" href="{% static 'css/shop.css' %}" class="color-switcher-link">
	<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>




		
		<script src="{% static 'scripts-/vendor-/modernizr.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'styles-/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'masterslider-/style-/masterslider.css' %}" /><!-- Master slider css -->
        <link rel="stylesheet" href="{% static 'masterslider-/skins-/default-/style.css' %}" /><!-- Master slider default skin -->




</head>

<body>
	
	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	


	<!-- Unyson messages modal -->
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<!--topline section visible only on small screens|-->

			<div class="header_absolute">
				<!--eof topline-->
				<section class="page_topline topline-2 container-px-0 ds bg-transparent py-9">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-4 text-md-left text-center ">
								<div class="metaphone">
									<span>Give us a call now: <a href="#">+91 9747 000000</a></span>
								</div>
							</div>

							<div class="col-lg-8 text-md-right text-center">

								<div class="metaphone">
									<span> <i class="fa fa-phone"></i> <a href="#"> +91 9747 222222</a></span>
								</div>

							</div>
						</div>
					</div>
				</section>
				<!-- header with two Bootstrap columns - left for logo and right for navigation -->
				<header class="page_header py-20 py-md-0 container-px-0  ls ">

					<div class="container">

						<div class="row ">
							<div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-12 d-flex align-items-center">


								<a href="{% url 'index' %} "  class="logo">
									<img src="{% static 'images/purica13.jpg' %}" alt="">
									<span class="logo-text color-darkgrey"></span>
								</a>

							</div>
							<div class="col-xl-9 col-lg-9 col-md-8 col-sm-4 col-12 text-right">
								<!-- main nav start -->
								<nav class="top-nav">
									<ul class="nav sf-menu">


										<li class="active">
											<a href="{% url 'index' %}">Home</a>
											
										</li>

										<li>
											<a href="{% url 'about' %}">About</a>
											
										</li>
										
										<li>
											<a href="{% url 'services' %}">Services</a>
											
										</li>
										<li>
											<a href="{% url 'product' %}">Products</a>
											
										</li>
										<li>
											<a href="{% url 'gallery' %}">Gallery</a>
											
										</li>
										<li>
											<a href="{% url 'contact' %}">Contact</a>
											
										</li>
										
										
									</ul>


								</nav>
								<!-- eof main nav -->
							</div>
							

						</div>

					</div>
					<!-- header toggler -->
					<span class="toggle_menu"><span></span></span>
				</header>
			</div>
			
<div class="height" style="width:100%; height:180px;"></div>
		
			
			
			
			
			        <section class="section" data-role="column" id="sectionHome" style=" background: #1f282e;">

          <div id="masterslider" class="master-slider ms-skin-default mb-0">
                     <!-- slide-1 start  -->
                        <div class="ms-slide">
                           <img src="masterslider-/blank.gif"  data-src="{% static 'img-/bg1.jpg' %}"  alt="" height="854"  width="1923" />
                

                <img class="ms-layer" data-src="{% static 'img-/l23.png' %}" alt=""
                     style="left: 130px; top: 180px;"
                     data-type="image"
                     data-delay="100"
                     data-parallax="25"
                     />

               <!-- <img class="ms-layer"  data-src="img-/l22.png" alt=""
                     style="left: 180px; top: 100px;"
                     data-type="image"
                     data-delay="100"
                     data-parallax="50"
                     />-->
                     </div><!-- slide end -->
            
                        <!-- slide-1 start  -->
            
          <div class="ms-slide">
                <img src="masterslider-/blank.gif"  data-src="{% static 'img-/bg3.jpg' %}"  alt="" height="854"  width="1923" />
                

                <img class="ms-layer" data-src="{% static 'img-/l23.png' %}" alt=""
                     style="left: 20px; top: 80px;"
                     data-type="image"
                     data-delay="100"
                     data-parallax="15"
                     />

                
          </div><!-- slide end -->
            
            


        </div>   
		
		
		
		<div class="waveWrapper bottom-wave waveAnimation">
					<div class="waveWrapperInner bgTop">
						<div class="wave waveTop"></div>
					</div>
					<div class="waveWrapperInner bgMiddle">
						<div class="wave waveMiddle"></div>
					</div>
					<div class="waveWrapperInner bgMiddle2">
						<div class="wave waveMiddle2"></div>
					</div>
					<div class="waveWrapperInner bgBottom">
						<div class="wave waveBottom"></div>
					</div>
		</div>
				<div class="bubbles"></div>
		
		
		
          
        </section>
			
			
			
			

			
				
		

			
			
			
			
			<div class="divider-30"></div>
			
			<section class="ls container-px-0">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="service-single ls">
								<div class="side-item">
									<div class="item-media">
										<img src="{% static 'images/123.gif' %}" alt="img">
									</div>
									<div class="item-content">
										<div class="content-center">
											<div class="fw-divider-space divider-xl-150 divider-lg-130 divider-md-60 divider-40"></div>
											<h4 class="special-heading">Aqua World <span class="thin">Water Technologies</span></h4>
<!--											<div class="divider-wave bg-gradient text-center text-sm-left"></div>-->
											<div class="fw-divider-space divider-md-40 divider-20 "></div>
											<p>
												Aqua World Water Technologies in Kasaragod has a wide range of products and services to 
												cater to the varied requirements of their customers. The staff at this establishment 
												are courteous and prompt at providing any assistance. 
											</p>
											<div class="fw-divider-space divider-md-40 divider-20 "></div>
											<div class=" custom-row d-flex flex-wrap">
												<div class="media text-center text-sm-left">
													<div class="icon-styled fs-30">
														<i class="ico ico-glass"></i>
													</div>
													<div class="media-body">
														<h6 class="">
															<span class="thin">Water</span> Purifiers<br> Services
														</h6>
													</div>
												</div>
												<div class="media text-center text-sm-left">
													<div class="icon-styled fs-30">
														<i class="ico ico-water"></i>
													</div>
													<div class="media-body">
														<h6 class="">
															<span class="thin">Water</span> Purifiers<br>& Spares
														</h6>
													</div>
												</div>
											</div>
											<div class="divider-30"></div>

											<a class="btn btn-gradient big-btn" href="services.html">learn more</a>
										</div>
										<div class="fw-divider-space divider-xl-150 divider-lg-130 divider-md-90 divider-60"></div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			
			

			
			

			<section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-150 s-pb-lg-130 s-pb-md-90 s-pb-60">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h4 class="special-heading text-center">
								<span class="text-capitalize">
									<span class="thin">Our Top</span>  Selling Products
								</span>
							</h4>
								<div class="fw-divider-space divider-25"></div>
						<p class="special-heading text-center">
								<span>
									We are also provide services in your location
								</span>
							</p>
							<div class="divider-wave bg-gradient text-center"></div>
							<div class="divider-75 hidden-below-lg"></div>
							<div class="divider-45 hidden-above-lg"></div>
							<div class="owl-carousel products" data-center="false" data-dots="false" data-nav="true" data-margin="25" data-loop="true" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="1">
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">
											<img src="{% static 'images/shop/01.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">Brita On Tap Water Filtration System</a></h2>
										<!--							<div class="star-rating">-->
										<!--								<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>-->
										<!--							</div>-->
									
									</div>
								</div>
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">
											<img src="{% static 'images/shop/02.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">AQUA Replacement Water Filter</a></h2>
										<!--							<div class="star-rating">-->
										<!--								<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>-->
										<!--							</div>-->
									
										
									</div>
								</div>
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">
											<img src="{% static 'images/shop/03.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">Filtrete Advanced Under Sink Quick</a></h2>
										<!--							<div class="star-rating">-->
										<!--								<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>-->
										<!--							</div>-->
									
									</div>
								</div>

								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">
											<img src="{% static 'images/shop/04.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="product.html">Brita On Tap Water Filtration System</a></h2>
									
										
									</div>
								</div>
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-%40%40type.html">
											<img src="{% static 'images/shop/06.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-right.html">Filtrete Advanced Under Sink Quick</a></h2>
										<!--							<div class="star-rating">-->
										<!--								<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>-->
										<!--							</div>-->
										
										
									</div>
								</div>

								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-%40%40type.html">
											<img src="{% static 'images/shop/07.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-right.html">Brita On Tap Water Filtration System</a></h2>
										<!--							<div class="star-rating">-->
										<!--								<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>-->
										<!--							</div>-->
										
										
									</div>
								</div>
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-%40%40type.html">
											<img src="{% static 'images/shop/08.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-right.html">AQUA Replacement Water Filter</a></h2>
									
										
									</div>
								</div>
								<div class="product">
									<div class="product-inner">
										<a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-%40%40type.html">
											<img src="{% static 'images/shop/09.jpg' %}" alt="">
										</a>
										<h2 class="woocommerce-loop-product__title"><a class="woocommerce-LoopProduct-link woocommerce-loop-product__link" href="shop-product-right.html">Filtrete Advanced Under Sink Quick</a></h2>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div class="fw-divider-space divider-xl-150 divider-lg-130 divider-md-90 divider-60"></div>

			

			<div class="fw-divider-space divider-lg--210 divider-xl--198"></div>

			

			
			
			


			<footer class="page_footer text-center text-sm-left  ds ms bg-gradient5 s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-205 s-pb-lg-185 s-pb-md-145 s-pb-105  c-gutter-30  c-mb-50 c-mb-lg-0">
				<div class="waveWrapper waveAnimation">
					<div class="waveWrapperInner bgTop">
						<div class="wave waveTop"></div>
					</div>
					<div class="waveWrapperInner bgMiddle">
						<div class="wave waveMiddle"></div>
					</div>
					<div class="waveWrapperInner bgMiddle2">
						<div class="wave waveMiddle2"></div>
					</div>
					<div class="waveWrapperInner bgBottom">
						<div class="wave waveBottom"></div>
					</div>
				</div>
				<div class="container">
					<div class="row justify-content-center">

						<div class="col-lg-4 col-md-6  animate" data-animation="fadeInUp">
							<a href="index.html" class="logo">
								<img src="{% static 'images/purica13.jpg' %}" alt="">
								
							</a>
							<div class="widget widget_mailchimp">


								<p>
									
                                 Aqua World (Water Purifier)

                                 UV water purifier with innovative AO technology Purifier
								</p>

								

							</div>

							<a href="https://www.facebook.com/Purica-Water-Technologies-109457074010175/" class="fab fa-facebook" title="facebook"></a>
							
							<a href="#" class="fab fa-instagram" title="instagram"></a>
							
							<a href="#" class="fab fa-youtube" title="youtube"></a>
						</div>

						<div class="col-lg-3 col-md-6 animate" data-animation="fadeInUp">

							<div class="widget widget_icons_list">
								<h3 class="widget-title"><span class="thin">Contact</span> Detail</h3>
								<ul>
									<li class="icon-inline">
										<div class="icon-styled icon-top  fs-14">
											<i class="fa fa-map-marker"></i>
										</div>
										<p>Kasaragod</p>
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top  fs-14">
											<i class="fa fa-phone"></i>
										</div>
										<p>Tel.: +91 9747 000000</p><br>
										
									</li>
										<li class="icon-inline">
										<div class="icon-styled icon-top  fs-14">
											<i class="fa fa-phone"></i>
										</div>
										<p>Tel.: +91 9747 222222</p><br>
										
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top  fs-14">
											<i class="fa fa-envelope"></i>
										</div>
										<p>
											<a href="#">info@aquaworld.com</a>
										</p>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-2 col-md-6 animate" data-animation="fadeInUp">

							<div class="widget widget_nav_menu mb-0">
								<h3 class="widget-title"><span class="thin">Quick</span> Links</h3>
								<ul class="list-unstyled">
									
									<li>
										<a href="index.html">Home</a>
									</li>
									
									
									<li>
										<a href="product.html">Products</a>
									</li>
<!--									<li>-->
<!--										<a href="latest news.html">Latest News</a>-->
<!--									</li>-->

									<li>
										<a href="contact.html">Contact Us</a>
									</li>
								</ul>
							</div>


						</div>

						<div class="col-lg-3 col-md-6 animate" data-animation="fadeInUp">
							<div class="widget widget_nav_menu mb-0">
								<h3 class="widget-title"><span class="thin">Our</span> Services</h3>
								<ul class="list-unstyled">
									<li>
										<a href="services.html">Water Purifier Spares</a>
									</li>
									<li>
										<a href="services.html">Water filters installation</a>
									</li>
									<li>
										<a href="services.html">Water filters Services</a>
									</li>

									<li>
										<a href="services.html">Water Purifier Sales</a>
									</li>
								</ul>
							</div>
						</div>


					</div>
				</div>

			</footer>

			<div class="copyright_absolute">
				<section class="page_copyright ds bg-transparent s-overlay s-py-25">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-md-12 text-center">
								<p>© Copyright 2022 aqua world Water Technologies</p>
							</div>

						</div>
					</div>
				</section>
			</div>


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->


	<script src="{% static 'js/compressed.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<!--<script src="js/switcher.js"></script>-->

	<!-- Google Map Script -->
	<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0pr5xCHpaTGv12l73IExOHDJisBP2FK4&amp;callback=initGoogleMap"></script>-->





<script src="{% static 'scripts-/jquery.min.js' %}"></script>

    <script src="{% static 'scripts-/vendor.js' %}"></script>

        <script src="{% static 'scripts-/plugins.js' %}"></script>

        <script src="{% static 'scripts-/main.js' %}"></script>
                <script src="{% static 'masterslider-/masterslider.min.js' %}"></script><!-- Master slider main js -->







 <script>
            /* <![CDATA[ */
            jQuery(document).ready(function ($) {
                'use strict';
                // MASTER SLIDER START
                var slider = new MasterSlider();
                slider.setup('masterslider', {
                    width: 1920, // slider standard width
                    height: 700, // slider standard height
                    space: 0,
                    layout: "fullwidth",
                    speed: 70,
                    centerControls: false,
                    loop: true,
                    autoplay: true,
                    parallaxMode: "mouse"
                            // more slider options goes here...
                            // check slider options section in documentation for more options.
                });
                // adds Arrows navigation control to the slider.
                slider.control('arrows');
                MSScrollParallax.setup(slider, 50, 80, true);

               
               
            });
            /* ]]> */
        </script>






</body>



</html>